//Fonts
$font-lato: "Lato";

//Breakpoints
$grid-breakpoints:("xs": 420px,
  "s":560px,
  "m": 768px,
  "l": 1024px,
  "xl": 1200px);

//Colors
$color-black: #0A171D;
$color-white:#FCF3E4;
$color-green: #003F48;
$color-light-orange: #FFBD77;
$color-dark-orange: #F3A257;