* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
}

button,
input {
  background: none;
  border: none;
}
button:focus, button:active,
input:focus,
input:active {
  outline: none;
  box-shadow: none;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

@font-face {
  font-family: "Lato";
  src: url(../assets/fonts/Lato-Thin.woff2);
  font-weight: 100;
}
@font-face {
  font-family: "Lato";
  src: url(../assets/fonts/Lato-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: url(../assets/fonts/Lato-Bold.woff2);
  font-weight: 700;
}
body {
  font-family: "Lato";
  background-color: #0A171D;
}
body * {
  color: #FCF3E4;
  text-transform: lowercase;
}
body input {
  border-bottom: 1px solid #FCF3E4;
}
body input::placeholder {
  color: #FCF3E4;
}

* {
  font-family: "Lato";
}

main {
  min-height: 100dvh;
}

.main-padding {
  padding-left: 50px;
  padding-right: 50px;
}
@media (max-width: 1023.98px) {
  .main-padding {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 767.98px) {
  .main-padding {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.btn {
  min-width: 150px;
  height: 40px;
  cursor: pointer;
  overflow: hidden;
}
.btn span {
  width: 100%;
  display: block;
  padding: 5px 10px;
  cursor: pointer;
  position: absolute;
  line-height: 24px;
  height: 100%;
}
.btn span:first-of-type {
  transform: translateZ(30px);
}
.btn span:last-of-type {
  transform: rotateX(90deg) translateZ(30px);
}
.btn:hover .btn-inside {
  transform: rotateX(-90deg);
}
.btn-inside {
  transition: 0.25s;
  transform-style: preserve-3d;
  height: 100%;
  position: relative;
}
.btn.primary-btn {
  border: 3px solid #F3A257;
}
.btn.primary-btn span:first-of-type {
  background-color: #F3A257;
  color: #003F48;
}
.btn.primary-btn span:last-of-type {
  background-color: transparent;
  color: #F3A257;
}
.btn.secondary-btn {
  border: 3px solid #FFBD77;
}
.btn.secondary-btn span:first-of-type {
  color: #FFBD77;
}
.btn.secondary-btn span:last-of-type {
  color: #003F48;
  background-color: #FFBD77;
}

.white-theme {
  background-color: #FCF3E4;
}
.white-theme * {
  color: #0A171D;
}
.white-theme input {
  border-color: #0A171D;
}
.white-theme input::placeholder {
  color: #0A171D;
}
.white-theme main .hero-content .title-container {
  background-color: #0A171D;
}
.white-theme main .hero-content .title-container h1 {
  color: #FCF3E4;
}
.white-theme main .hero-content .title-container input::placeholder {
  color: #FCF3E4;
}
.white-theme main .hero-content .title-container .hero-search * {
  color: #FCF3E4 !important;
}
.white-theme main .hero-content .title-container .search-wrapper .suggestions span {
  border-color: #FCF3E4;
}
.white-theme main .hero-content .title-container .search-wrapper .popup {
  background-color: #0A171D;
}
.white-theme .popup-tracker {
  background-color: #FCF3E4;
}
.white-theme .modal-overlay {
  background-color: #FCF3E4;
}
.white-theme .modal-overlay h2 {
  background-color: #FCF3E4;
}
.white-theme .footer {
  border-color: #0A171D;
}

h2 {
  font-size: 22px;
  font-weight: 700;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}
.header .logo img {
  height: 50px;
  width: auto;
}
.header .nav-links {
  display: flex;
  gap: 30px;
  margin: 0 auto;
}
.header .header-actions {
  display: flex;
  gap: 10px;
}
.header .header-actions .mode {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header .header-actions .mode .theme-btn {
  width: 55px;
  border-radius: 30px;
  height: 30px;
  background-color: #FFBD77;
  padding: 3px;
  cursor: pointer;
}
.header .header-actions .mode .theme-btn span {
  display: block;
  border-radius: 50%;
  height: 24px;
  width: 24px;
}
.header .header-actions .mode .theme-btn .dark-btn {
  transform: translateX(100%);
  transition: all 0.25s ease-in-out;
  background-color: #0A171D;
}
.header .header-actions .mode .theme-btn .light-btn {
  background-color: #FCF3E4;
  transform: translateX(0);
  transition: all 0.25s ease-in-out;
}
.header .header-actions .auth-buttons {
  display: flex;
  gap: 10px;
}
.header * {
  font-size: 18px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  padding-bottom: 30px;
  background-color: #0A171D;
  width: 100%;
  height: 100dvh;
  overflow-y: auto;
}
.modal-overlay h2 {
  position: sticky;
  background-color: #0A171D;
  top: 0;
  z-index: 1;
  padding: 60px 0 30px;
}
.modal-overlay form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  gap: 30px;
  margin-top: 30px;
}
.modal-overlay form input {
  padding: 5px 10px;
  max-width: 200px;
  width: 100%;
}
.modal-overlay form input::placeholder {
  opacity: 0.5;
}
.modal-overlay .btns-container {
  display: flex;
  gap: 30px;
}

main .hero-content {
  display: flex;
  gap: 30px;
  align-items: flex-end;
  position: relative;
}
main .hero-content .images-container {
  display: flex;
  gap: 30px;
  flex-grow: 1;
}
main .hero-content .images-container img {
  background-color: #0A171D;
  width: 50%;
  height: auto;
}
main .hero-content .info-container {
  max-width: 30%;
  width: 100%;
}
main .hero-content .info-container h2 {
  margin-bottom: 15px;
}
main .hero-content .info-container ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main .hero-content .title-container {
  position: absolute;
  background-color: #FCF3E4;
  padding: 10px 30px;
  right: 10%;
  min-width: 30%;
  top: 20%;
  color: #0A171D;
}
main .hero-content .title-container h1 {
  color: #0A171D;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 15px;
}
main .hero-content .title-container input {
  color: #0A171D;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 5px 10px;
  width: 100%;
}
main .hero-content .title-container input::placeholder {
  color: #0A171D;
  opacity: 0.7;
}
main .hero-content .search-wrapper {
  position: relative;
}
main .hero-content .search-wrapper .suggestions {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
main .hero-content .search-wrapper .suggestions li {
  cursor: pointer;
}
main .hero-content .search-wrapper .suggestions span {
  color: #0A171D;
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom: 1px solid #0A171D;
  margin-bottom: 5px;
  display: block;
}
main .hero-content .search-wrapper .suggestions .job-info {
  display: flex;
  gap: 10px;
}
main .hero-content .search-wrapper .suggestions .job-info p {
  color: #0A171D;
}
main .hero-content .search-wrapper .suggestions .job-info .job-location:before {
  content: "|";
  padding-right: 5px;
}
main .hero-content .search-wrapper .popup {
  background-color: #FCF3E4;
  position: absolute;
  top: 40px;
  left: -30px;
  height: calc(100% - 40px);
  width: calc(100% + 60px);
  padding: 10px 30px;
  overflow-y: auto;
  min-height: 150px;
}
main .hero-content .search-wrapper .popup-content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
}
main .hero-content .search-wrapper .popup-content .apply-btn {
  margin: 0;
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
  border-color: #dedede;
}
main .hero-content .search-wrapper .popup-content .apply-btn span {
  background-color: #dedede;
}
main .hero-content .search-wrapper .popup h2 {
  color: #0A171D;
  margin-bottom: 5px;
  width: 100%;
}
main .hero-content .search-wrapper .popup span {
  color: #0A171D;
  display: flex;
  gap: 10px;
  font-size: 20px;
  width: 100%;
}
main .hero-content .search-wrapper .popup p {
  color: #0A171D;
  font-size: 20px;
}
main .hero-content .search-wrapper .popup .btn {
  width: fit-content;
}
main .hero-content .search-wrapper .popup .btn span {
  justify-content: center;
}
main .hero-content .search-wrapper .popup .popup-date {
  opacity: 0.5;
  font-size: 18px;
}
main .hero-content .search-wrapper .popup .popup-date p {
  font-size: 18px;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 2px solid #FCF3E4;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.footer-top .footer-logo,
.footer-top .footer-nav,
.footer-top .footer-socials {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-top .footer-logo h3,
.footer-top .footer-nav h3,
.footer-top .footer-socials h3 {
  margin-bottom: 5px;
  font-weight: 700;
}
.footer-top .footer-socials a {
  text-transform: none;
}
.footer-bottom p {
  font-size: 14px;
  margin-top: 30px;
}

.prev,
.next {
  cursor: pointer;
}
.prev img,
.next img {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(93%) sepia(69%) saturate(1271%) hue-rotate(304deg) brightness(102%) contrast(101%);
}

.prev img {
  transform: rotate(180deg);
}

.job-section {
  margin-top: 60px;
  margin-bottom: 30px;
  transition: all 0.3s ease;
}
.job-section .btn {
  margin: 15px auto 30px;
  width: fit-content;
}
.job-section .slider {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.job-section .slider-track {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.job-section .slider .jobs-card {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  padding-right: 30px;
  border-right: 1px solid #FFBD77;
}
.job-section .slider .jobs-card h3 {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px solid #FFBD77;
  padding-bottom: 10px;
  margin-bottom: 5px;
}
.job-section .slider .jobs-card .salary {
  width: 100%;
  margin-top: 10px;
}
.job-section .slider .jobs-card .company {
  padding-right: 10px;
}
.job-section .slider .jobs-card .company:after {
  content: "|";
  padding-left: 10px;
  font-weight: 700;
  color: #F3A257;
}
.job-section .slider .jobs-card .btn {
  margin: 0;
  margin-top: 30px;
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
  border-color: #dedede;
}
.job-section .slider .jobs-card .btn span {
  background-color: #dedede;
}
.job-section.active-section {
  transform: scale(1);
  border-top: 2px solid #F3A257;
  order: 1;
  width: 100%;
}

.job-sections-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.job-sections-container .show-btn span {
  color: #F3A257;
}

.tracker {
  display: none;
}

.logged-in .tracker {
  display: block;
  cursor: pointer;
}
.logged-in .job-section .slider .jobs-card .btn {
  cursor: pointer;
  pointer-events: all;
  border-color: #F3A257;
  opacity: 1;
}
.logged-in .job-section .slider .jobs-card .btn span:first-of-type {
  background-color: #F3A257;
}
.logged-in .job-section .slider .jobs-card .btn span:last-of-type {
  background-color: transparent;
}
.logged-in main .hero-content .search-wrapper .popup-content .apply-btn {
  cursor: pointer;
  pointer-events: all;
  border-color: #F3A257;
  opacity: 1;
}
.logged-in main .hero-content .search-wrapper .popup-content .apply-btn span:first-of-type {
  background-color: #F3A257;
}
.logged-in main .hero-content .search-wrapper .popup-content .apply-btn span:last-of-type {
  background-color: transparent;
}
.logged-in .profile {
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
  margin-left: 30px;
  align-items: center;
}
.logged-in .profile-trigger {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.logged-in .profile-trigger span {
  color: #F3A257;
  font-weight: 600;
}

.popup-tracker {
  position: fixed;
  width: 100%;
  height: 100dvh;
  top: 0;
  background-color: #0A171D;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow-y: auto;
}
.popup-tracker .popup-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.popup-tracker .popup-content .popup-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  padding-left: 0;
  align-items: flex-start;
  width: 100%;
}
.popup-tracker .popup-content .popup-card:not(:last-of-type) {
  border-bottom: 2px solid #F3A257;
  padding-bottom: 30px;
}
.popup-tracker .popup-content .popup-card h3 {
  font-weight: 600;
  padding-bottom: 5px;
  border-bottom: 1px solid #FFBD77;
}
.popup-tracker .popup-content h2 {
  margin-bottom: 30px;
  width: 100%;
}
.popup-tracker .popup-content .btn {
  margin-top: 15px;
}
.popup-tracker .popup-content .close-btn {
  margin-left: auto;
  width: fit-content;
}

.modal-open {
  overflow: hidden;
}